@layout('layouts/main')
@set('title', 'Home page')

@section('body')
    <div class="container">
        <form>
            <input placeholder="Title"></input>
            <br>
            <br>
            <input placeholder="Description"></input>
        </form>
    </div>
@end