@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  width: 100%;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

input.new-thread-tags {
    border: none;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 0;
}

input.new-thread-tags:focus {
    outline:none;
    background: transparent;
}

.tag-cloud {
  display:block;
  height: 80px;
  padding: .25em;
  margin: .25em 0;
  background: #FFF;
  border: solid 1px #999;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.5), 0 1px 0 #FFF;
}

a.close {
  display: block;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: .125em 0 0 .5em;
  text-indent: -999em;
}

a.close:before {
  display:block;
  float: left;
  content: "\2716";
  font-size: 1em;
  font-weight: normal;
  text-indent: 0;
  text-shadow: 0 -1px 0 #123;
  line-height: 1em;
  color: black;
  transform: translateY(1px);
}

